/* cssert intro */
body {margin:0 auto; color:#444; width:800px;height:100%;}
body, h1, h2 {font-family:sans-serif;font-weight:300;}
.pass {color:green;}
.fail {color:red;}
h1:active+iframe {
  position:relative;
  top:0;
  left:0;
}
